/*
*
*
*   HEADER SECTION
*
*
*/
@font-face {
    font-family: 'Playfair_Display';
    src: url('./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0rem;
    font-family: 'Playfair_Display','sans-serif';
}
#navBar{
    
    background-color: #f8f5f0;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
#nb-Buttom{
    background-color: #a38271;
    color: #f8f5f0;
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

#nb-imgLogo{
    height: 3rem;
    width: 3rem;
    
    padding-top: 0.55rem;
    
}
#nb-logo{
    text-align: center;
}
.d-flex{
    display: flex;
}
.nb-ListItem{
    list-style: none;
    margin-right: 2rem;
}
.nb-link{
    text-decoration: none;
    color:black;
}
.lg-subTxt{
    margin-top: -1rem;
}
.img-menuContainer{
    display: none;
}
/*
*
*
*   WELCOME SECTION
*
*
*/
.bg-img{
    background-image: url("./img/photo_01.jpg");
    background-color: black;
    height: 100vh;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.jstfy-itemsCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt-bold{
    font-weight: bold;
}
/*
*
*
*   ABOUT SECTION
*
*
*/
.flex-1{

    flex: 1;
}

.about{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
}
.img-section{
    display: flex;
    justify-content: center;
    margin-right: 5rem;
    
    
}
.img-about{
    width: 25rem;
    height: 25rem;
}

.pt-5{
    padding-top: 5rem;
   
}
.pr-10{
    padding-right: 10rem;
}
.mt-5{
    margin-top: 13rem;
}
.lg-visible{
    display: block;
}
.algn-items-center{
    align-items: center;
}
.txt-white{
    color:white;
}
.ts-1{
    font-size: 1.1rem;
}
/*
*
*
*   SERVICE SECTION
*
*
*/

.service{
    background-color: #f8f5f0;
    min-height: 30rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
.txt-center{
    text-align: center;
}
.p-3{
    padding: 3rem;
}
.jstfy-around{
    justify-content: space-around;
}
.jstfy-center{
    justify-content: center;
}
.pt-1{
    padding-top: 1rem;
}
.img-service{
    height: 5rem;
    width: 5rem;
}
.visible-none{
    display: none;
}
.min-width{
    min-width: 10rem;
}
.section-Buttom{
    background-color: #a38271;
    color: white;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}
/*
*
*
*   BLOG SECTION
*
*
*/
.blog{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    background-color: #a38271;
}
.blog-Buttom{
    background-color: #a38271;
    color:white;
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}
/*
*
*
*   OPINION SECTION
*
*
*/
.opinion{
    min-height: 30rem;
}
.border-black-1{
    border: 1px solid #a38271;
}
.person_card{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
.card-body{
    max-width: 13rem;
}
.p-2{
    padding: 2rem;
}
.img-card-bg{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 100%;
    background-color:#a38271;
}
.card-txt-read-more{
    cursor: pointer;
}
.card-txt-read-more:hover{
    font-size: 1.1rem;
}
/*
*
*
*   CONTACT SECTION
*
*
*/
.contact{
    
    background-color: #f8f5f0;
    
}
.w-3{
    width: 3rem;
}

.h-3{
    height: 3rem;
}
.h-2{
    height: 2rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-2{
    margin-top: 2rem;
}
.form-elements{
    
    width: 20rem;
}
.h-5{
    height: 5rem;
}

.txt-lg{
    font-size: 2.5rem;
}
.pt-2{
    padding-top: 2rem;
}
.max-width-20{
    max-width: 20rem;
}
.contact_img{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}
.bg-maroom{
    background-color: #a38271;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
}
/*
*
*
*   FOOTER SECTION
*
*
*/
.color-1{
    background-color: #f8f5f0;
}
.m-block-start-0{
    margin-block-start: 0rem;
}
.m-block-end-0{
    margin-block-end: 0rem;
}
.pb-2{
    padding-bottom: 2rem;
}
/*
*
*
*   PROPERTY FOR MOBILE PHONES
*
*
*/
@media only screen and (max-width: 768px) {
 
    .nb-ListItems{
      display:none;
    }
    .text-logo{
        font-size: 1.2rem;
    }
    .lg-subTxt{
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .img-menuContainer{
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem ;
        
    }
    #img-menu{
        width: 2rem;
        height: 2rem;
    }
    #navBar{
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }
    #nb-imgLogo{
        width: 1.7rem;
        height: 1.7rem;
    }
    #nb-logo{
        margin-left: 2rem;
    }
    /*
    *
    *WELCOME SECTION
    *
    */
    .xs-textSize{
        font-size: 1.4rem;
    }
    .jstfy-itemsCenter{
        justify-content: space-around;
    }
    /*
    *
    *   ABOUT SECTION
    *
    */
    
    .xs-about{
        display: block;
        justify-items: center;
        padding: 3rem;
    }
    .xs-img-about{
        width: 100%;
        height: 100%;
    }
    .xs-mt-2{
        margin-top: 2rem;
    }
    .xs-mt-3{
        margin-top: 3rem;
    }

    .xs-mt-5{
        margin-top: 5rem;
    }
    .xs-p-0{
        padding: 0rem;
    }
    .xs-img-section{
        margin-right: 0rem;
        display: block;
        width: 100%;
    }
    .visible{
        display: block;
    }
    .mb-5{
        margin-bottom: 5rem;
    }
    
    .xs-visible-none{
        display: none;
    }
    .xs-txt-xl{
        font-size: 3rem;
    }
    /*
    *
    *   SERVICE SECTION
    *
    */
    .xs-flex-wrap{
        flex-wrap: wrap;
    }
    .xs-d-flex{
        display: flex;
    }
    .xs-p-none{
        padding:0rem;
    }
    .xs-service{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .xs-pl-2{
        padding-left: 2rem;
    }
    .xs-pt-1{
        padding-top: 1rem;
    }
    .xs-min-width{
        min-width: none;
    }
    .xs-txt-left{
        text-align: left;
    }
    /*
    *
    *   OPINION SECTION
    *
    */
    .xs-block{
        display: block;
    }
    .xs-pl-3{
        padding-left: 3rem;
    }
    .xs-pr-3{
        padding-right: 3rem;
    }
    .xs-mb-3{
        margin-bottom: 3rem;
    }
    .xs-p-2{
        padding: 2rem;
    }
    /*
    *
    *   CONTACT SECTION
    *
    */
    .xs-d-block{
        flex-direction: column-reverse;
    }
    .xs-txt-center{
        text-align: center;
    }
    .xs-pl-1{
        padding-left: 1rem;
    }
    .xs-pr-1{
        padding-right: 1rem;
    }
    .xs-d-flex{
        display: flex; 
    }
    .xs-jstfy-center{
        justify-content: center;
    }
    .xs-form-elements{
        width: 17rem;
    }
  }
/*
*
*
*  PROPERTY FOR TABLETS
*
*
*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .nb-ListItems{
      display:none;
    }
    .text-logo{
        font-size: 1.2rem;
    }
    .lg-subTxt{
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .img-menuContainer{
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem ;
        
    }
    #img-menu{
        width: 2rem;
        height: 2rem;
    }
    #navBar{
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }
    #nb-imgLogo{
        width: 1.7rem;
        height: 1.7rem;
    }
    #nb-logo{
        margin-left: 2rem;
    }
    .img-about{
        width: 20rem;
        height: 20rem;
    }
    .xs-pt-0{
        padding-top: 0rem;
    }
    .md-d-flex{
        display: flex; 
    }
    .md-jstfy-center{
        justify-content: center;
    }
    .md-txt-center{
        text-align: center;
    }
  }
  /*
  *
  *
  * PROPERTY FOR LAPTOP 
  *
  *
  */
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    #navBar{
        height: 6rem;

    }
    .about{
        padding: 3rem;
    }
    .lg-w-17{
        width: 17rem;
    }
    .lg-card-body{
        max-width: 100%;
    }
    .lg-pt-2{
        padding-top: 2rem;
    }
    .lg-max-width-30{
        max-width: 30rem;
    }
    .lg-form-elements{
    
        width: 30rem;
    }
    .lg-m-block-end-0{
        margin-block-end: 0rem;
    }
}

