/*
*
*
*   HEADER SECTION
*
*
*/
#navBar{
    
    background-color: #f8f5f0;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nb-Buttom{
    background-color: #a38271;
    color: #f8f5f0;
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

#nb-imgLogo{
    height: 3rem;
    width: 3rem;
    
    padding-top: 0.55rem;
    
}
#nb-logo{
    text-align: center;
}
.d-flex{
    display: flex;
}
.nb-ListItem{
    list-style: none;
    margin-right: 2rem;
}
.nb-link{
    text-decoration: none;
    color:black;
}
.lg-subTxt{
    margin-top: -1rem;
}
.img-menuContainer{
    display: none;
}
/*
*
*
*   WELCOME SECTION
*
*
*/
.bg-img{
    background-image: url("./img/photo_01.jpg");
    background-color: black;
    height: 75vh;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.jstfy-itemsCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt-bold{
    font-weight: bold;
}
/*
*
*
*   PROPERTY FOR MOBILE PHONES
*
*
*/
@media only screen and (max-width: 768px) {
    
    .nb-ListItems{
      display:none;
    }
    .text-logo{
        font-size: 1.2rem;
    }
    .lg-subTxt{
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .img-menuContainer{
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem ;
        
    }
    #img-menu{
        width: 2rem;
        height: 2rem;
    }
    #navBar{
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }
    #nb-imgLogo{
        width: 1.7rem;
        height: 1.7rem;
    }
    #nb-logo{
        margin-left: 2rem;
    }
    /*
    *
    *WELCOME SECTION
    *
    */
    .xs-textSize{
        font-size: 1.4rem;
    }
    .jstfy-itemsCenter{
        justify-content: space-around;
    }
    /*
    *
    *   ABOUT SECTION
    *
    */
    .img-section{
        width:100%;
        display: flex;
        justify-content: center;
    }
    #img-about{
        width: 80%;
        margin: auto;
    }
    #about{
        display: block;
        margin-top: 5rem;
        justify-items: center;
        padding: 3rem;
    }
    .xs-mt-5{
        margin-top: 5rem;
    }

  }
/*
*
*
*  PROPERTY FOR TABLETS
*
*
*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .nb-ListItems{
      display:none;
    }
    .text-logo{
        font-size: 1.2rem;
    }
    .lg-subTxt{
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .img-menuContainer{
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem ;
        
    }
    #img-menu{
        width: 2rem;
        height: 2rem;
    }
    #navBar{
        height: 5rem;
        display: flex;
        justify-content: space-between;
    }
    #nb-imgLogo{
        width: 1.7rem;
        height: 1.7rem;
    }
    #nb-logo{
        margin-left: 2rem;
    }

  }
